<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="icon" href="/img/weather.png">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="/style/styles.css" />
   
</head>
<body>
    <div class="main-content">
  {{>header}}
    <p class="l bg-primary">Use this site to get your weather:</p>
     <div>
    <form>
      <input type="text">
      <button>Search</button>
    </form>
    <p id="1" ></p>
    <p id="2" ></p>

     
  </div>
    </div>
  {{>footer}}
  <div class="flexing">
     <a href="mailto:hgh9harsh@gmail.com"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
  
  <a href="https://github.com/Divine-Cipher-Cells/Expensify-App"><i class="fa fa-github  fa-lg " aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/harshsingh9399/"><i class="fa fa-instagram  fa-lg"></i></a>
  </div>
 
  
    <script src="/scripts/script.js"></script>
   
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</html>